* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 2px yellow; */
  }

html {
    overflow-x: hidden;
}
#head {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 47.5%;
    /* border: solid 2px blue; */
}
body {
    background-image: linear-gradient(to right, skyblue, white);
    /* background-image: url("sunny.jpg");  */
    /* background-size: contain; */
    height: 100vh;
    width: 100vw;
}
#current-location {
    /* border: 5px solid red;  */
    border-radius: 15px;
    box-shadow: 5px 10px orangered;
    min-height: 25%; 
    min-width: 45%; 
    margin: 1rem;
    background-image: linear-gradient(to bottom, red, gold);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation-name: moveUp; 
    animation-duration: 3s;
}
#city {
    text-align: center;
    font-size: 165%;
    text-shadow: 1px 1px white;
    margin: auto;
    min-width: 25%;
    min-height: 10%; 

}
#current-weather {
    border: 5px solid lightblue; 
    border-radius: 15px;
    box-shadow: 5px 10px aquamarine;
    background: lightblue;
    min-height: 45%; 
    min-width: 45%; 
    margin: 1rem;
    text-align: center;
    position: relative;
    animation-name: moveDown;
    animation-duration: 3s;
}
#current-temp {
    border: 2px solid white; 
    border-radius: 15px;
    background-color: white;
    box-shadow: 2.5px 5px deepskyblue;
    min-height: 7.5vh;  
    min-width: 50%;
    margin: 0.5rem; 
    position: relative;
    animation-name: moveLeft;
    animation-duration: 3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
#weather {
    font-size: 100%;
    font-size: x-large;
    position: relative;
    padding: 2.5%;
}
.high-temps {
    color: red;
    text-shadow: 1px 1px white;
    position: relative;
    animation-name: moveRight;
    animation-duration: 3s;
}
.low-temps {
    color: blue; 
    text-shadow: 1px 1px white;
    position: relative;
    animation-name: moveLeft;
    animation-duration: 3s;

}
#link {
    text-shadow: 1px 1px white;
    min-width: 45%; 
    min-height: 25%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    position: relative;
    animation-name: moveDown;
    animation-duration: 3.5s;
    /* border: solid 2x purple;  */
}
#location {
    max-width: 50%; 
    display: flex;
    align-items: stretch;
}
#info {
    max-width: 50%; 
    overflow: hidden;
}
#head {
    display: flex; 
}
#today-header {
    text-shadow: 1px 1px white;
}
#today {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 175%;
    text-shadow: 1px 1px white;
    position: relative;
    animation-name: moveRight;
    animation-duration: 3s;
}
p {
    display: inline;
}
span {
    display: inline;
}
#main {
    height: 30vh; 
    /* width: 100vh;  */
    display: flex;
    flex-direction: column;
    /* border: solid 2px black; */
}
.day {
    border: 5px solid lightblue; 
    background-color: lightblue;
    border-radius: 15px;
    box-shadow: 2.5px 5px aquamarine;
    height: 30%;
    margin: 0.5rem;
    /* border: solid 2px black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.weekday {
    text-align: left;
    /* padding: 3.5%;  */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200%;
    text-shadow: 1px 1px white;
    max-height: 10%;
    /* border: solid 2px black; */
    margin: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.temp {
    text-align: center;
    font-size: 150%;
    margin: 1.5%; 
    padding: 6%; 
    border: 5px solid lightblue; 
    background-color: white;
    border-radius: 15px;
    height: 1px; 
    min-width: 18%;   
    display: flex;
    align-items: center;
}
.day1, .day3, .day5 {

    position: relative;
    animation-name: moveRight;
    animation-duration: 3s;
}
.day2, .day4, .day6 {
    
    position: relative;
    animation-name: moveLeft;
    animation-duration: 3s;

}
.weekday1, .temp1, .weekday3, .temp3, .weekday5, .temp5 {
    
    position: relative;
    /* animation-name: moveLeft;
    animation-duration: 3s; */
    
}
@media only screen and (min-width: 667px) {
    body {
        /* border: solid 2px blue; */
        height: 100vh;
    }
    #current-location {
        min-width: 85%;
    }
    #info {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 2;
    }
    #current-weather {
        min-width: 90%;
        margin: 3%;
        flex-grow: 1;
        /* border: 2px solid green; */
    }
    #location {
        min-width: 100%;
        /* border: solid 2px red; */
        flex-grow: 2;
        min-height: 35%;
    }
    body {
        display: flex;
        flex-direction: row;
    }
    #head {
        /* border: solid 2px blue; */
        min-width: 40%;
        flex-direction: column;
        height: 100%;
        /* justify-content: center; */
    }
    #main {
        min-width: 60%;
        flex-wrap: wrap;
        /* border: solid 2px red; */
        height: 100%;
    }
    #link {
        /* border: solid 2px blue; */
        max-height: 25%;
        flex-grow: 1;
        display: block;
        padding: 5%;
        margin: 0;
        font-size: 90%;
    }
    .day {
        height: 1%;
        min-width: 95%;
        /* border: solid 2px red; */
    }
    .weekday, .temp {
        height: 1px;
    }
}
@media only screen and (min-width: 1024px) {
    #head {
        border: solid 2px red;
        /* width: 50%; */
        flex-direction: column;
        min-width: 50%;
    }
    #main {
        border: solid 2px red;
        min-width: 50%;
        height: 100vh;
    }

    #location {
        min-width: 95%;
        justify-content: flex-start;

    }
    #current-location {
        height: 25vh;
        min-width: 100%;
    }
    #city {
        font-size: 300%;
    }
    #info {
        min-width: 98%;
    }
    #current-weather {
        min-height: 50%;
    }
    #link {
        font-size: 350%;
        min-height: 50%;
        padding: 5%;
    }
    .day {
        height: 5px;
        max-width: 5%;
    }
    .weekday {
        max-height: 1%;

    }
    .temp {
        max-height: 1%;
        max-width: 5%;
    }
    
}
@keyframes moveUp {
    0% {
        top: 500px; 
    }
    100% {
        top: 0px; 
    }
}
@keyframes moveLeft {
    0% {
        left: 500px; 
    }
    100% {
        left: 0px; 
    }
}
@keyframes moveRight {
    0% {
        right: 500px; 
    }
    100% {
        right: 0px; 
    }
}
@keyframes moveDown {
    0% {
        bottom: 500px; 
    }
    100% {
        bottom: 0px; 
    }
}