html {
    overflow-x: hidden;
}
#head {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
body {
    background-image: linear-gradient(to left, skyblue, gold);
    background-repeat: repeat-y;
}
#current-location {
    /* border: 5px solid red;  */
    border-radius: 15px;
    min-height: 25%; 
    min-width: 45%; 
    margin: 1rem;
    background-image: linear-gradient(to bottom, red, gold);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation-name: moveUp; 
    animation-duration: 3s;
}
#city {
    text-align: center;
    font-size: 165%;
    text-shadow: 1px 1px white;
    margin: auto;
    min-width: 25%;
    min-height: 10%; 

}
#current-weather {
    border: 5px solid lightblue; 
    border-radius: 15px;
    background: lightblue;
    min-height: 45%; 
    min-width: 45%; 
    margin: 1rem;
    text-align: center;
    position: relative;
    animation-name: moveDown;
    animation-duration: 3s;
}
#current-temp {
    border: 2px solid white; 
    border-radius: 15px;
    background-color: white;
    max-height: 10vh;  
    min-width: 50%;
    margin: 0.5rem; 
    position: relative;
    animation-name: moveLeft;
    animation-duration: 3s;
}
#weather {
    font-size: 100%;
}
#link {
    min-width: 45%; 
    margin: 1rem;
    min-height: 25%;
    text-align: center;
    font-family: fantasy;
    font-size: 100%;
    /* padding: 7%; */
    position: relative;
    animation-name: moveDown;
    animation-duration: 3s;
}
#location {
    max-width: 50%; 
    display: flex;
    align-items: stretch;
}
#info {
    max-width: 50%; 
    overflow: hidden;
}
#head {
    display: flex; 
}
#today {
    font-family: cursive;
    font-size: 200%;
    position: relative;
    animation-name: moveRight;
    animation-duration: 3s;
}
#main {
    min-height: 50%; 
    min-width: 95%; 
    display: flex;
    flex-direction: column;
}
.day {
    border: 5px solid lightblue; 
    background-color: lightblue;
    border-radius: 15px;
    max-height: 1%; 
    min-width: 90%;
    margin: 0.5rem;
    /* border: solid 2px black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.weekday {
    text-align: center;
    padding: 10%; 
    font-family: cursive;
    font-size: 200%;
    max-height: 5%;
    max-width: 35%;
    /* border: solid 2px black; */
    margin: 0.25rem;
}
.temp {
    text-align: center;
    font-size: 150%;
    margin: 0.5rem; 
    padding: 10%; 
    border: 5px solid lightblue; 
    background-color: white;
    border-radius: 15px;
    max-height: 5%; 
    min-width: 18%;   
    /* border: solid 2px black; */
}
.day1, .day3, .day5 {

    position: relative;
    animation-name: moveRight;
    animation-duration: 3s;
}
.day2, .day4, .day6 {
    
    position: relative;
    animation-name: moveLeft;
    animation-duration: 3s;

}
.weekday1, .temp1, .weekday3, .temp3, .weekday5, .temp5 {
    
    position: relative;
    /* animation-name: moveLeft;
    animation-duration: 3s; */
    
}
@media only screen and (min-width: 1024px) {
}
@keyframes moveUp {
    0% {
        top: 500px; 
    }
    100% {
        top: 0px; 
    }
}
@keyframes moveLeft {
    0% {
        left: 500px; 
    }
    100% {
        left: 0px; 
    }
}
@keyframes moveRight {
    0% {
        right: 500px; 
    }
    100% {
        right: 0px; 
    }
}
@keyframes moveDown {
    0% {
        bottom: 500px; 
    }
    100% {
        bottom: 0px; 
    }
}