body {
    background-image: linear-gradient(to right, blue, yellow);
}
#current-day {
    border: 5px solid lightblue; 
    border-radius: 15px;
    height: 20vw; 
    width: 50%; 
    margin: 2rem;
    margin-left: auto; 
    text-align: center;


}
#main {
    height: 50vw; 
    display: flex;
}
h1 {
    float: right;
}
.day {
    border: 5px solid lightblue; 
    background-color: lightblue;
    border-radius: 15px;
    margin: 1rem; 
    margin-top: 10%;
    height: 55%; 
    width: 100%;

}
header {
    text-align: center;
    padding: 15%; 
    font-family: cursive;
    font-size: 200%;
}
.temp {
    /* flex-direction: row;
    justify-content: center;
    align-items: center; */
    text-align: center;
    font-size: 500%;
    margin: 1rem; 
    padding: 10%; 
    border: 5px solid lightblue; 
    background-color: white;
    border-radius: 15px;
    height: 45%; 
    width: 55%;
    
}