html {
    overflow: hidden; 
}

#main {
    height: 50vw; 
    border: 5px solid lightblue; 
    display: flex;
}
.day {
    flex-direction: row;
    border: 5px solid lightblue; 
    margin: 1rem; 
    margin-top: 10%;
    height: 55%; 
    width: 100%;

}
header {
    text-align: center;
    padding: 15%; 
    font-family: cursive;
}
.temp {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem; 
    padding: 10%; 
    border: 5px solid lightblue; 
    height: 45%; 
    width: 55%;
    
}